# Runtime Verification

[TOC]



## Res
### Related Topics
↗ [System Security](../../../../../../System%20Security/System%20Security.md)
- ↗ [Operating System Security (& Mobile Security)](../../../../../../System%20Security/🧸%20Operating%20System%20Security%20%28&%20Mobile%20Security%29/Operating%20System%20Security%20%28&%20Mobile%20Security%29.md)
- ↗ [Software Runtime Security](../../../../../../System%20Security/🏃%20Software%20Runtime%20Security/Software%20Runtime%20Security.md)
	- ↗ [Memory Security](../../../../../../System%20Security/🏃%20Software%20Runtime%20Security/📝%20Memory%20Security/Memory%20Security.md)

↗ [Program Execution (Runtime)](../../../../../../../🔑%20CS%20Core/👩‍💻%20Computer%20Languages%20&%20Programming%20Methodology/🧞‍♂️%20Programming%20Language%20Processing%20&%20Program%20Execution/🤡%20Program%20Execution%20%28Runtime%29/Program%20Execution%20%28Runtime%29.md)
↗ [Address Space & Memory Layout](../../../../../../../🔑%20CS%20Core/👷🏾‍♂️%20Computer%20%28Host%29%20System/Operating%20System%20&%20OS%20Kernel%20%28Theory%20Part%29/OS%20Memory%20Management%20%28Main%20Memory%20+%20Secondary%20Memory%20Resource%29/Address%20Space%20&%20Memory%20Layout.md)



## Intro



## Ref
